In [ ]:
import pandas as pd
import ipaddress

In [2]:
ips = ['10.1.2.201','10.1.2.111','192.168.1.67','200.100.50.228']

In [16]:
df = pd.DataFrame(ips,columns=['ip'])

In [17]:
df

               ip
0      10.1.2.201
1      10.1.2.111
2    192.168.1.67
3  200.100.50.228

### Adding a column with the network address for a particular prefix
Let's say we want to add a column to our DataFrame that shows the address's network address for an arbitrary prefix length:

In [18]:
prefix_length=24

We can do this by using `DataFrame.apply()` along with a lambda function that calls the built-in `ipaddress.ip_interface()` method and extracts the network addr

In [19]:
df[f'network_{prefix_length}'] = df.ip.apply(lambda x: ipaddress.ip_interface(f'{x}/{prefix_length}').network.network_address)

In [20]:
df

               ip    network_24
0      10.1.2.201      10.1.2.0
1      10.1.2.111      10.1.2.0
2    192.168.1.67   192.168.1.0
3  200.100.50.228  200.100.50.0

In [8]:
def to_net(ip,prefix):
    return ipaddress.ip_interface(f'{ip}/{prefix}').network.network_address

In [9]:
df = pd.DataFrame(ips,columns=['ip'])

In [10]:
prefix_length=29

In [11]:
df[f'network_{prefix_length}'] = df.ip.apply(lambda x:to_net(x,prefix_length))

In [12]:
df

               ip      network_29
0      10.1.2.201      10.1.2.200
1      10.1.2.111      10.1.2.104
2    192.168.1.67    192.168.1.64
3  200.100.50.228  200.100.50.224