# Comparing Dates in DataFrames

In [19]:
import pandas as pd

Here we have a DataFrame of some passive DNS data pulled from the PassiveTotal API:

In [23]:
df.head()

,firstSeen,lastSeen,queryType,queryValue,recordType,resolve,resolveType,value
1,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.100.110,ip,covid19.direct
3,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.101.110,ip,covid19.direct
8,2020-03-18 09:10:32,2020-03-18 09:44:44,domain,covid19.direct,A,207.154.254.152,ip,covid19.direct

As a simple example, let's say we only want rows that were last seen after March 20.

First, we'll convert the `lastSeen` column to a datetime:

In [25]:
df.lastSeen = pd.to_datetime(df.lastSeen)
df

,firstSeen,lastSeen,queryType,queryValue,recordType,resolve,resolveType,value
1,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.100.110,ip,covid19.direct
3,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.101.110,ip,covid19.direct
8,2020-03-18 09:10:32,2020-03-18 09:44:44,domain,covid19.direct,A,207.154.254.152,ip,covid19.direct

Next we extract only the relevant date rows:

In [30]:
df[df.lastSeen > pd.to_datetime('2020-03-20')]

,firstSeen,lastSeen,queryType,queryValue,recordType,resolve,resolveType,value
1,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.100.110,ip,covid19.direct
3,2020-03-18 10:25:48,2020-03-29 01:16:58,domain,covid19.direct,A,104.24.101.110,ip,covid19.direct