In [21]:
import pandas as pd
import ipaddress

In [22]:
ips = ['10.1.2.3','1.2.3.4','192.168.1.1','200.100.50.25']

In [23]:
df = pd.DataFrame(ips,columns=['ip'])

In [24]:
df

              ip
0       10.1.2.3
1        1.2.3.4
2    192.168.1.1
3  200.100.50.25

In [25]:
df[df.ip.apply(lambda x: not ipaddress.ip_address(x).is_private)]

              ip
1        1.2.3.4
3  200.100.50.25